/*MAIN PAGE**/
/*HEADER**/ 
header {
    display:inline-flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 0, 85);
    color: white;
    font-size: 16px;
    font-style: italic;
    font-family: 'Playfair Display', serif;  
}
.header-img {
    display: inline-flex;
    align-self: center;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30%;
}
.menu-img {
    display: inline-flex;
    align-self: center;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30%;
}

/*NAV BAR**/
.navbar {
    width: 100%;
    background-color: #fcb79c;
    text-align: center; 
}
.navbar ul {
    margin-top: 0; 
    font-family: helvetica, arial;
    font-size: 18px;  
    list-style: none;
}
.navbar li {
    display: none;
}
a {
    text-decoration: none;
    color: rgb(255, 0, 85);
    text-transform: capitalize; 
    font-style: bold;
}
a:hover {
    background-color: cornsilk;
}

/*CONTAINER 1 - main**/
.container1 {
    display: flex;
    justify-content: space-between; 
    flex-direction: column-reverse;
    background-color: rgb(94, 74, 74);
}

/*CONTAINER ASIDE BAR **/
.container-aside{
    display:flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
}

/*CONTAINER 2 - NEW - BOXES - SUSCRIBE**/
.container2 {
    display:flex;
    flex: 7; 
    flex-direction: column;
    align-items: center;
    background-color:white;
}

/*CONTAINER 3 - BOXES*/
.container3 {
    display:flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
}

/*NEW**/
.new-img {
    width: 70%;
    height: auto;
}
h2 { 
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    font-family: helvetica, arial;
    font-size: 23px;
    color: rgb(66, 66, 66);
    font-style: bold;
}
p {
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify; 
    font-family: helvetica, arial;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(66, 66, 66);
}

.container2 h5{
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    font-family: helvetica, arial;
    font-size: 15px;
    line-height: 1;
    color: rgb(66, 66, 66);
    font-style: italic;
}

/*SUSCRIBE**/
.container-suscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
    background-color: rgb(94, 74, 74);
    color:white;
    font-size: 18px;
    font-family: 'Playfair Display', serif;   
}
.container-suscribe .button {
    height: 24px;
    border-radius: 10%;
    background-color: rgb(255, 0, 85);
    color: white;
    font-family: helvetica, arial;
}

#a-button {
    background-color: rgb(255, 0, 85);
    color: white;
    font-family: helvetica, arial;
}

/*ASIDE BAR**/
.aside-img {
    width: 80%;
    height: auto;
}
.container-aside h2{
    padding-top: 2%;
    color: rgb(255, 0, 85);
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    text-align: center; 
}
.container-aside p{
    color: white;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    text-align: justify; 
}

/* BOX 1 LEADING CASE **/
.box1-img {
    display:flex;
    width: 20%;
    height: auto;
}
.box1 {
    display:flex;
    flex: 5;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    padding-top: 15px;
    background-color: #fcebe5;
}
.box1 h3 {
    font-family: helvetica, arial;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(71, 71, 71);
    text-align: center; 
}
.box1 p {
    font-family: helvetica, arial;
    font-size: 14px;
    font-style: italic;
    line-height: 1.5;
    color: rgb(66, 66, 66);
    text-align: justify; 
}
.box1 a {
    color: rgb(255, 0, 85);
    font-style: normal;
}
.box1 a:hover {
    background-color: #fcb79c;
}

/* BOX 2 ARTICLE **/
.box2-img {
    display:flex;
    width: 20%;
    height: auto;
}
.box2 {
    display:flex;
    flex: 5;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    padding-top: 15px;
    background-color: #fcebe5;
}
.box2 h3 {
    font-family: helvetica, arial;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(71, 71, 71);
    text-align: center; 
}
.box2 p {
    font-family: helvetica, arial;
    font-size: 14px;
    font-style: italic;
    line-height: 1.5;
    color: rgb(66, 66, 66);
    text-align: justify; 
}
.box2 a {
    color: rgb(255, 0, 85);
    font-style: normal;
}
.box2 a:hover {
    background-color: #fcb79c;
}

/*FOOTER**/
footer {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(255, 0, 85);
    font-size: 17px;
    font-family: 'Playfair Display', serif;
}
footer p {
    color: white;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

/*SUBSCRIPTION PAGE**/

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}
.input {
    width: 45%;
    display: inline;
    text-align: center;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    height: 40px;
    background-color: #fcebe5;
    color: rgb(94, 74, 74);
    font-family: helvetica, arial;
    font-size: 17px;
    border: none;
}
.subscribe-btn {
    width: 50%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 25%;
    margin-right: 25%;
    height: 45px;
    border: none;
    font-family: helvetica, arial;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(94, 74, 74);
}
