body {
    font: 15px/1.5, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/*HEADER**/ 
header {
    background-color: rgb(255, 0, 85);
    color: white;
    font-size: 20px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    display:inline-flex;
    width: 100%;
    justify-content: center;
}
.header-img {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30%;
}
/*NAV BAR**/
.navbar {
    width: 100%;
    background-color: #fcb79c;
    text-align: center;
}
.navbar ul {
    list-style: none;
    font-family: helvetica, arial;
    font-size: 18px;
    margin-top: 0;   
}
.navbar li {
    display: inline;
    padding: 40px;
} 
a{
    text-decoration: none;
    color: rgb(255, 0, 85);
    text-transform: capitalize; 
    font-style: bold;
}
a:hover {
    background-color: cornsilk;
}

/*CONTAINER 1 - main**/
.container1 {
    background-color: lightcoral;
    display: flex;
    justify-content: space-between; 
    flex-direction: row-reverse;
}

/*CONTAINER ASIDE BAR **/
.container-aside{
    display:flex;
    flex: 3;
}

/*CONTAINER 2 - NEW - BOXES - SUSCRIBE**/
.container2 {
    background-color:lightskyblue;
    display:flex;
    flex: 7; 
    flex-direction: column;
}

/*CONTAINER 3 - BOXES*/
.container3 {
    background-color:lightgreen;
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
}

footer {
    background-color: rgb(255, 0, 85);
    color: white;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
